html, body{
	background-color: #000;
	color:#0f0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	}
.dig{
	margin:0;
	padding:0;
	border:0;
	}
.dig.Mainpage{
	height: calc(100% - 102px);
	width:100%;
	position:relative;
	overflow-y:scroll;
}
.dig.Mainpage h1{
	font-size:50px;
	font-family: otf_2;
}
.dig.Mainpage pre{
	position: relative;
	font-size:20px;
	font-family: ttf_16;
}
.dig.Mainpage .usr_type{
	border: solid 2px #0f0;
	border-radius: none;
	padding: none;
	margin: none;
	color: #0f0;
	background:none;
	outline:none;
	font-size:12px;
}
.dig.Mainpage .button_type:hover{
	color:#0af;
	border-color:#0af;
}
.dig.Mainpage .usr_type:hover{
	color:#0af;
	border-color:#0af;
}
.dig.Mainpage pre span.hint_descp{
	color:#0af;
	border-color:#0af;
}
.dig.Mainpage .button_type{
	cursor:pointer;
	position:relative;
	border: solid 2px #0f0;
	border-radius: none;
	padding: none;
	margin: none;
	color: #0f0;
	background:none;
	outline:none;
	font-size:12px;
}
