 #gamemode{
    position: absolute;
    top:0px; left:0px; bottom: 0px; right: 0px;
    z-index:1000;
    background: rgba(100,100,100,0.5);
    overflow: hidden;
    text-align: center;
     
}
#gamemode .Quit{
    position: absolute;
    top:5px; right:5px;
    width: 40px; height: 40px;
    background: url(../../elib_depend/graphics/interface_graphics/icons/white/delgrey.png) center no-repeat;
    background-size: contain;
}
#gamemode .enem{
    position: relative;
    top:100px;
    
    
    margin:20px;
    height:100px; width:100px;
    display: inline-block;
    
    background: url(../../../project_files/dinvade/Export/enem3grey.png) center no-repeat;
    background-size: contain;
}
#gamemode .ship{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    height: 100px;
    
    background: url(../../../project_files/dinvade/Export/spacegrey.png) center no-repeat;
    background-size: contain;
}
#gamemode .ctrl-right{
    position: absolute;
    right:10px;
    bottom: 10px;
    height: 100px;
    width: 100px;
    background: url(../../elib_depend/graphics/interface_graphics/icons/white/rightgrey@High.png) center no-repeat;
    background-size: contain;
}
#gamemode .ctrl-left{
    position: absolute;
    left:10px;
    bottom: 10px;
    height: 100px;
    width: 100px;
    background: url(../../elib_depend/graphics/interface_graphics/icons/white/rightgrey@High.png) center no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: contain;
}
body{
    overflow: hidden;
}
body .Navibar, body .Footer, body .flyer, body .header{
    -webkit-filter : blur(5px);
}